<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="admin-index.css">
    <link rel="stylesheet" href="admin-navbar.css"> -->
    <link rel="stylesheet" href="admin-dashboard.css">
    <link rel="stylesheet" href="all.min.css">
</head>