<!-- <section class="navbar">
    <a href="#">LOGO</a>
    <nav class="nav-btn">
        <a href="#">ACCOUNT</a>
    </nav>
</section> -->
<section class="arrange">
    <section class="sidebar" id="sidebar-1">
        <span>Welcome, <%- locals.admin?admin:"Admin" %> <img src="PP.jpg" alt=""></span>
        <a href="admin-index" id="admin-dashboard"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
        <a href="admin-beats" id="admin-beats"><i class="fa-solid fa-music"></i>Beats</a>
        <a href="admin-sample-pack" id="admin-sample-pack"><i class="fa-regular fa-file"></i>Sample Packs</a>
        <a href="admin-customers" id="admin-customers"><i class="fa-solid fa-users"></i>Customers</a>
        <a href="admin-payments" id="admin-payments"><i class="fa-solid fa-credit-card"></i>Payments</a>
        <a href="admin-contact" id="admin-messages"><i class="fa-regular fa-message"></i>Messages</a>
        <a href="admin-sub" id="email-sub"><i class="fa-regular fa-envelope"></i>Email Subscriptions</a>
        <a href="admin-account" id="admin-account"><i class="fa-regular fa-user"></i>My Account</a>
        <a href="/route/admin-logout" id="admin-logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>

    </section>
    <section class="sidebar " id="sidebar-2">
        <span> <img src="PP.jpg" alt=""></span>
        <a href="admin-index" id="admin-dashboard"><i class="fa-solid fa-table-columns"></i></a>
        <a href="admin-beats" id="admin-beats"><i class="fa-solid fa-music"></i></a>
        <a href="admin-sample-pack" id="admin-sample-pack"><i class="fa-regular fa-file"></i></a>
        <a href="admin-customers" id="admin-customers"><i class="fa-solid fa-users"></i></a>
        <a href="admin-payments" id="admin-payments"><i class="fa-solid fa-credit-card"></i></a>
        <a href="admin-contact" id="admin-messages"><i class="fa-regular fa-message"></i></a>
        <a href="admin-sub" id="email-sub"><i class="fa-regular fa-envelope"></i> </a>
        <a href="admin-account" id="admin-account"><i class="fa-regular fa-user"></i> </a>
        <a href="/route/admin-logout" id="admin-logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        
           
    </section>