<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="about.css">

    <body>
        <%- include('./partials/navbar.ejs') %>

            <section class="about-container">
                <h1>About</h1>
                <img src="PP.jpg" alt=""
                    class="about-pp">
                <h2>Biography</h2>
                <p>I make beats :-)</p>
            </section>

            <%- include('./partials/footer.ejs') %>

    </body>

    </html>