<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beats by downphase <%-pageTitle%></title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <section class="signup-container">
        <div class="sign-up">
            <h1>Admin Login</h1>
            <form action="/route/admin-login" method="post">
                <label for="loginUsername">Username</label>
                <input type="text" name="loginUsername" id="loginUsername" placeholder="Enter Username" required>



                <label for="loginPassword">Password</label>
                <input type="password" name="loginPassword" id="loginPassword" placeholder="Enter Password" required>




                <button>Log In</button>
            </form>
        </div>
    </section>

</body>

</html>