<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="free-beats.css">

    <body>
        <%- include('./partials/navbar.ejs') %>
        <section class="main-container">

            <h1>NO FREE CONTENTS</h1>

        </section>


            <%- include('./partials/footer.ejs') %>

    </body>

    </html>