<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="about.css">

    <body>
        <%- include('./partials/navbar.ejs') %>

            

            <%- include('./partials/footer.ejs') %>

    </body>

    </html>